<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.order.mapper.MaterialMapper">

<!--    <resultMap id="productResultMap" type="">-->
<!--        -->
<!--    </resultMap>-->

    <select id="selectAll" resultType="main.order.entity.MaterialVO">
        select * from bd_material
    </select>


</mapper>